.App {
    font-family: "Rajdhani", Arial, Tahoma, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background-color: #1078ad;
}
a{
    text-decoration: none;
}
h2{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0px;
}
h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0px;
}
h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0px;
}
h6{
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #1078ad;
}
